<h2>Inventario</h2>
<button (click)="irAlCatalogo()">Ir al Catalogo</button><br>
<button (click)="descargarXML()">Descargar XML</button><br>
<!-- Formulario para agregar productos -->
<div class="form">
  <input type="text" [(ngModel)]="nuevoProducto.nombre" placeholder="Nombre del producto"><br>
  <input type="number" [(ngModel)]="nuevoProducto.precioP" placeholder="Precio"><br>
  <input type="text" [(ngModel)]="nuevoProducto.imagen" placeholder="URL de imagen"><br>
  <button (click)="agregarProducto()">Agregar Producto</button>
</div>
<hr>

<!-- Formulario de edición -->
<div *ngIf="productoSeleccionado" class="form">
  <h2>Editar Producto</h2>
  <input type="text" [(ngModel)]="productoSeleccionado.nombre" placeholder="Nombre del producto"><br>
  <input type="number" [(ngModel)]="productoSeleccionado.precioP" placeholder="Precio"><br>
  <input type="text" [(ngModel)]="productoSeleccionado.imagen" placeholder="URL de imagen"><br>
  <button (click)="guardarCambios()">Guardar Cambios</button><br>
  <button (click)="cancelarEdicion()">Cancelar</button>
  <hr>
</div>

<!-- Lista de productos en inventario -->
<div class="productos">
  <div *ngFor="let producto of productos" class="producto">
    <img [src]="producto.imagen" alt="" height="100px">
    <h3>{{ producto.nombre }}</h3>
    <p>Precio: ${{ producto.precioP }}</p>
    <button (click)="editarProducto(producto)">Editar</button>
    <button (click)="eliminarProducto(producto.id)">Eliminar</button>
  </div>
</div>